header {
    height: 400px;
    background-color: #556b2f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#aboutUs {
    padding-top: 100px;
    padding-bottom: 100px;

}

#mainPicture {
    height: 300px;
    width: 300px;
    border-radius: 7px;
    box-shadow: 5px 5px 10px 10px #888888;
}

#logo{
    width: 150px;
    height: 150px;
}

#aboutUs {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
form>input, form>label {
   margin-top: 10px;
}

#contactMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainPicture:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.2);
}

.button:active {
    background-color: #83f56d;
    transform: translateY(2px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.button:hover{
    background-color: #1a6b09;
    cursor: pointer;
}

.button{
    text-decoration: none;
    color: whitesmoke;
    background-color: #8fbd8f;
    border-radius: 7px;
    padding: 10px 15px;
    font-weight: bold;
    text-transform: uppercase;
}

img {
    object-fit: cover;
}

#books{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* * {
    border: 1px solid black;
} */